<!doctype html>
<html>
    <head>
        <title>Plantilla principal</title>
    </head>
    <body>
        <h1>Plantilla principal</h1>
        <hr/>
        <div style="background-color: lightgreen">
            <p>ZONA DE VISTAS</p>
        </div>
    <div style="background-color: yellow">
        <p>ZONA DE VISTAS</p>
    </div>
    </body>
</html>